@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('a.jpg');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  max-height: 100vh; /* Set height to 100% to cover the entire viewport */
}
